.skillsPage {
    display: flex;
    margin:7% 14% 0% 10%;
    
  }
  
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
  }
  
  .skillBox {
    background-color: linear-gradient(135deg, #FFFFFF 0%, #AAB9EC 100%);
    border: 2px solid #ccc; 
    text-align: center; 
    padding: 20px; 
    font-size: 18px; 
    color: #060685; 
    transition: transform 0.3s ease; 
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1); 
  }
  
  .skillBox:hover {
    transform: scale(1.1); 
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); 
    background: linear-gradient(135deg, #FFFFFF 0%, #AAB9EC 100%);
  }
  @media (max-width:540px)
  {
  .skillsGrid {
    grid-template-columns: repeat(1, 1fr); 
  }
  .skillsPage {
    display: flex;
    justify-content: center;
    margin: 7% 14% 0% 14%;
  }
  
}
@media (min-width:541px) and (max-width:912px)
{
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr); 
  }
}
.skillsPage {
  display: flex;
  justify-content: center;
  margin: 7% 14% 0% 14%;
}
  @media (min-width:700px) and (max-width:900px) 
  {
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr); 
  }
  .skillsPage {
    display: flex;
    justify-content: center;
    margin: 7% 14% 0% 14%;
  }
}
@media (min-width:900px) and (max-width:1200px) 
{
  .skillsGrid {
 
    grid-template-columns: repeat(3, 1fr); 
 
  }
  .skillsPage {
    display: flex;
    justify-content: center;
    margin: 7% 14% 0% 12%;
  }
}
.dark-mode .skillBox
{
  color: white;
}
.dark-mode .skillBox:hover
{
  background: linear-gradient(135deg, #555555 0%, #000000 100%);
}