.footer {
    background: linear-gradient(135deg, #FFFFFF 0%, #AAB9EC 100%);
    color: #060685;
    text-align: center; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    margin-top: auto; 
  }
  
  .light-mode footer a {
    color: blue;
    text-decoration: none; 
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }
  .dark-mode .footer
  {
    background: linear-gradient(135deg, #555555 0%, #000000 100%);
    color: white;
  }
  .dark-mode footer a
  {
    color:white;
  }